.header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header a {
    text-decoration: none;
}

.header__brand {
    display: flex;
    align-items: center;
}

.header__brand__text {
    color: black;
    font-weight: 700;
    font-size: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__link {
    font-weight: 500;
    color: #007aff;
}